<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <!-- BOOTSTRAP CSS LINK -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Css/chat.css">
     <!-- BOOTSTRAP ICON LIBRARY -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container" id="rightSegment">
        <button class="btn btn-primary my-3" id="createGroup">Create New Group</button>
        <h4 id="groupMemberHeading">Group Members</h4>
        <hr id="lineRight">
        <ul class="list-group" id="memberList">
        </ul>
    </div>

    <div class="container" id="leftSegment">
        <h4>Your Groups</h4>
        <hr>
        <ul class="list-group" id="listGroup"></ul>
    </div>


    <div class="container my-5" id="chatContainer">
        <div id="groupName">
            <h3 class="my-3 text-center">Select a group to see messages</h3>
        </div>
        <div id="messages"></div>
        <div class="text-center my-2">
            <input type="text" id="inputMessage" placeholder="Type Message">
            <button id="sendMessage">Send</button>
        </div>
        <div id="editMember">
            
        </div>
    </div>

    <!-- BOOTSTRAP JS LINK -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- CUSOTUM JS -->
    <script src="chat.js"></script>
    <!-- AXIOS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>